<ul class="side-menu">
    <li class="active" data="providers_statistics">
        <a href="#/monitor/providers_statistics">
            <span class="icon service-icon-project-manage"></span>
            <span>提供者统计</span>
        </a>
    </li>
    <li data="usages_statistics">
        <a href="#/monitor/usages_statistics">
            <span class="icon service-icon-server-manage"></span>
            <span>使用者统计</span>
        </a>
    </li>
    <li data="realtime_monitoring">
        <a href="#/monitor/realtime_monitoring">
            <span class="icon service-icon-server-manage"></span>
            <span>实时监控</span>
        </a>
    </li>
    <li data="service_tracking">
        <a href="#/monitor/service_tracking">
            <span class="icon service-icon-server-manage"></span>
            <span>服务跟踪</span>
        </a>
    </li>
</ul>