<div class="js-monitor-manage">
    <div>
        <table class="m-table">
            <tbody>
                <tr>
                    <td class="th">应用名称</td>
                    <td>
                        <select name="" class="js-projects">
                            <option value="">全部应用</option>
                            <option value="应用">应用1</option>
                        </select>
                    </td>
                    <td class="th btn-td">
                        <input class="btn" type="button" value="查询" onclick="RealtimeMonitoring.loadData();"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	<div id="container"></div>
</div>