<div>
    <div class="f-fitm">
        <label>服务名称</label>
        <input type="text" name="serverName"/>
        <div>*</div>
    </div>
    <div class="f-fitm">
        <label>应用名称</label>
        <select class="js-projects" name="projectName"></select>
        <div>*</div>
    </div>
        <div class="f-fitm">
        <label>服务地址</label>
        <input type="text" name="serverAddr"/>
        <div>*</div>
    </div>
    <div class="f-fitm">
        <label>返回值类型</label>
        <input type="text" name="dataReturnType"/>
        <div>*</div>
    </div>
    <div class="f-fitm">
        <label>服务描述</label>
        <input type="text" name="description"/>
    </div>
</div>