<div class="js-project-manage">
    <div>
        <table class="m-table">
            <tbody>
                <tr>
                    <td class="th">应用名称</td>
                    <td>
                        <input type="text" class="js-name"/>
                    </td>
                    <td class="th">应用提供者</td>
                    <td>
                        <select name="" class="js-provider">
                            <option value="">全部</option>
                            <option value="合伙人">合伙人</option>
                        </select>
                    </td>
                    <td class="th btn-td">
                        <input class="btn" type="button" value="查询" onclick="ProjectManage.loadData();"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-table-title">
        <label>查询列表</label>
        <div class="a-btn-group fl-rt">
            <a href="javascript:void(0);" onclick="ProjectManage.add();"  class="a-btn" id="addBtn" style="display:none;">增加</a>
            <!--  <a href="javascript:void(0);" onclick="DeviceMaintain.export();" class="a-btn">导出</a> -->
        </div>
    </div>
    <div class="box-content">
        <table class="js-project-table"></table>
    </div>
</div>