<div class="js-server-manage">
    <div>
        <table class="m-table">
            <tbody>
                <tr>
                    <td class="th">服务名称</td>
                    <td>
                        <input type="text" class="js-name"/>
                    </td>
                    <td class="th">应用名称</td>
                    <td>
                        <select name="" class="js-project">
                            <option value="">全部</option>
                            <option value="SSIL">SSIL</option>
                            <option value="DocShare">DocShare</option>
                        </select>
                    </td>
                    <td class="th btn-td">
                        <input class="btn" type="button" value="查询" onclick="ServerManage.loadData();"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-table-title">
        <label>查询列表</label>
        <div class="a-btn-group fl-rt">
            <a href="javascript:void(0);" onclick="ServerManage.add();" class="a-btn" id="addBtn" style="display:none;">增加</a>
            <a href="javascript:void(0);" onclick="ServerManage.batchAdd();" class="a-btn">批量导入</a>
            <input type="file" name="excelToUpload" id="excelToUpload" style="display: none;">
        </div>
    </div>
    <div class="box-content">
        <table class="js-service-table"></table>
    </div>
</div>