<div>
    <div class="f-fitm">
        <label>应用名称</label>
        <input type="text" name="name"/>
    </div>
    <div class="f-fitm">
        <label>应用IP</label>
        <input type="text" name="ip"/>
    </div>
    <div class="f-fitm">
        <label>应用端口</label>
        <input type="text" name="port"/>
    </div>
    <div class="f-fitm">
        <label>审核状态</label>
        <input type="text" name="checkState" disabled="true"/>
    </div>
    <div class="f-fitm">
        <label>应用描述</label>
        <input type="text" name="description"/>
    </div>
    <div class="f-fitm">
        <label>应用提供者</label>
        <input type="text" name="provider"/>
    </div>
        <div class="f-fitm">
        <label>测试页面</label>
        <input type="text" name="testUrl"/>
    </div>
</div>