<div>
    <div class="f-fitm">
        <label>接口名称</label>
        <input type="text" name="serverName"/>
    </div>
    <div class="f-fitm">
        <label>应用名称</label>
        <select class="js-projects" name="projectName"></select>
    </div>
    <div class="f-fitm">
        <label>接口地址</label>
        <input type="text" name="serverAddr"/>
    </div>
    <div class="f-fitm">
        <label>接口返回值</label>
        <input type="text" name="dataReturnType"/>
    </div>
    <div class="f-fitm">
        <label>接口描述</label>
        <input type="text" name="description"/>
    </div>
</div>