<div>
    <div class="f-fitm">
        <label>设备名称</label>
        <input type="text" name="name"/>
    </div>
    <div class="f-fitm">
        <label>设备IP</label>
        <input type="text" name="ip"/>
    </div>
    <div class="f-fitm">
        <label>设备类型</label>
        <select class="js-type"></select>
    </div>
    <div class="f-fitm">
        <label>所属会议室</label>
        <select class="js-boardroom"></select>
    </div>
    <div class="f-fitm">
        <label>所属机构</label>
        <select class="js-org-tree"></select>
    </div>
    <div class="f-fitm">
        <label>状态</label>
        <div>
            <span><input type="radio" name="status" value="正常" checked="checked"/>正常</span>
            <span><input type="radio" name="status" value="异常"/>异常</span>
        </div>
    </div>
</div>