<div class="js-control">
    <div class="p-left">
        <div>
            <input type="button" class="btn disabled" disabled="true" value="开启中控"/>
            <input type="button" class="btn mg-lf" value="关闭中控"/>
        </div>
        <div class="js-meet-tree">

        </div>
    </div>
    <!-- /.left -->
    <div class="p-center">
        <div class="content easyui-tabs">
            <div title="矩阵">
                <div class="box-title">
                    <span>矩阵选择</span>
                    <select name="" id="">
                        <option value="av矩阵">av矩阵</option>
                    </select>
                    <ul class="js-actor-list">
                        <li>海关总署指挥中心双流</li>
                        <li>海关总署缉私局1双流</li>
                        <li>海关总署缉私局2双流</li>
                    </ul>
                </div>
                <div>
                    <div class="grid-box fl-lt">
                        <div class="title">输入</div>
                        <ul>
                            <li>主摄像头</li>
                            <li>东墙摄像头</li>
                            <li>西墙摄像头</li>
                            <li>DVD</li>
                            <li>热备近端</li>
                            <li>热备远端</li>
                            <li>终端2近端</li>
                            <li>终端2远端</li>
                            <li>终端1近端</li>
                            <li>终端1远端</li>
                        </ul>
                    </div>
                    <div class="grid-box fl-rt">
                        <div class="title">输出</div>
                        <ul>
                            <li>大屏分量1</li>
                            <li>大屏分量2</li>
                            <li>大屏分量3</li>
                            <li>大屏分量4</li>
                            <li>大屏分量5</li>
                            <li>大屏分量6</li>
                            <li>大屏分量7</li>
                            <li>大屏分量8</li>
                            <li>预监2</li>
                            <li>备终端近端</li>
                            <li>备终端远端</li>
                            <li>主终端远端</li>
                            <li>主终端近端</li>
                            <li>终端2</li>
                            <li>终端1</li>
                            <li>分转V1</li>
                            <li>分转V2</li>
                            <li>分转V3</li>
                            <li>分转V4</li>
                            <li>分转V5</li>
                            <li>分转V6</li>
                            <li>分转V7</li>
                            <li>分转V8</li>
                            <li>热备IN2近端</li>
                        </ul>
                    </div>
                </div>
                <div class="op-div">
                    <input type="button" class="btn orange" value="切换"/>
                    <input type="button" class="btn" value="取消"/>
                </div>
            </div>
            <div title="摄像头" class="js-p-camera">
                <div class="box-title">
                    <label>摄像头选择</label>
                    <select name="">
                        <option value="主摄像头">主摄像头</option>
                        <option value="备摄像头">备摄像头</option>
                    </select>
                    <input type="button" class="btn" value="参数设置"/>
                </div>
                <div>
                    <div class="control-panel mg-lf">
                        <ul class="control-btn">
                            <li class="icon-arrow-up-b"></li>
                            <li class="icon-arrow-left-b"></li>
                            <li class="icon-arrow-right-b"></li>
                            <li class="icon-arrow-down-b"></li>
                            <li class="ok">OK</li>
                        </ul>
                        <ul class="ul-zoom">
                            <li><span class="icon-plus-round"></span></li>
                            <li class="ul-zoom-label">变焦</li>
                            <li><span class="icon-minus-round"></span></li>
                        </ul>
                        <ul class="ul-speed">
                            <li>快</li>
                            <li>中</li>
                            <li>慢</li>
                        </ul>
                    </div>
                    <div class="grid-box mg-rt">
                        <div class="title">预置位</div>
                        <ul>
                            <li>预置位1</li>
                            <li>预置位2</li>
                            <li>预置位3</li>
                            <li>预置位4</li>
                            <li>预置位5</li>
                            <li>预置位6</li>
                        </ul>
                    </div>
                </div>
                <div class="op-div">
                    <input type="button" class="btn orange" value="调用"/>
                    <input type="button" class="btn orange" value="存储"/>
                </div>
            </div>
            <div title="大屏">
                大屏
            </div>
            <div title="升降屏">
                升降屏
            </div>
            <div title="电源状态" class="js-power-status">
                <div class="box-title">
                    <label>电源选择</label>
                    <select name="">
                        <option value="系统电源">系统电源</option>
                    </select>
                </div>
                <div class="grid-box">
                    <label>系统电源状态</label>
                    <ul>
                        <li>打开</li>
                        <li>关闭</li>
                    </ul>
                    <span class="icon-ios-refresh"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.p-center -->
</div>