<div class="p-update-usage-project">
    <div class="f-fitm">
        <label>用户ip</label>
        <input type="text" name="ip" disabled="true"/>
    </div>
    <div class="f-fitm">
        <label>ip归属</label>
        <input type="text" name="name" disabled="true"/>
    </div>
    <div class="f-fitm">
        <label>用户描述</label>
        <input type="text" name="description" disabled="true"/>
    </div>

    <div class="f-fitm">
        <label>应用名称</label>
        <select class="js-projects" name="projectName"></select>
    </div>
</div>